<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="DocStd" value="https://spreadsheets.google.com/feeds/list/1LgoCbFtwT8TLR5IbEgKxJOui3skbIQbYGnYcgfX3MGo/oy2yhoa/private/full"/>
      <add key="DocStaff" value="https://spreadsheets.google.com/feeds/list/1LgoCbFtwT8TLR5IbEgKxJOui3skbIQbYGnYcgfX3MGo/oo7hku7/private/full"/>
        <add key="DBHost" value="127.0.0.1"/>
        <add key="DBTarget" value="kmd"/>
        <add key="DBTable" value="CommentsTB"/>
        <add key="DBUser" value="root"/>
      <add key="DBPWD" value="admin"/>
      <add key="GUser" value="mrayyamen@gmail.com"/>
      <add key="GPWD" value="H0wL0vely!2"/>
    </appSettings>
</configuration>